*{
    margin:0;
    padding: 0;

}
body{
    text-align: center;
    background-color: #8FF7A7;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.btn
{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #FF7F11;
}
.reset{
    font-size: 1.25rem;
    color: #454ADE;
    background-color: #C874D9;
    border-radius: 3px;
    border: none;
    width: 100px;
    height: 3rem;
}

.msgContainer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vmin;
    color: #2511da;
    border: 1px solid #C874D9;
    box-sizing: border-box;
}

.hide{
    display: none;
}